# tensorflow==2.0.0-alpha0
numpy
# scikit-image
matplotlib
plotly
pandas
yfinance
beautifulsoup4
holidays
ipywidgets
pandas-datareader
rdp
pymongo
tweepy
scipy
textblob
# git+https://github.com/poojathakoor/twitter-stock-sentiment.git